.login-container{
    background-color: #dde9ff;
    height: 100%;
}

.login-container, .logo, .form-container, .cont, .separator{
    width: 100%;
}

.logo{
    height: 30%;
    align-items: center;
}

.logo, .form-container, .form-login, .cont, .recuperar{
    display: flex;
}

.logo, .form-container, .form-login, .cont{
    justify-content: center;
}

.logo-icon{
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
}

.form-login{
    width: 310px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px 200px 40px;
}

.separator{
    border-bottom: 2px solid #D3D3D3;
}



.title{
    margin: 10px 0;
    font-weight: 400;
    font-size: 30px;
}

.distance{
    margin-top: 20px;
}

.for-pass{
    color: #ACACAC;
    cursor: pointer;
    transition: 0.3s;
}

.for-pass:hover{
    color: rgb(27, 164, 182);
    transition: 0.3s;
}

.recuperar{
    margin-top: 9px;
    justify-content: end;
    font-size: 15px;
}

.padd{
    padding: 10px 0;
}

