html, body, #root {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

:root{
    --main-color: #2871FF;
}

.grid{
    display: grid;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

p{
    margin: 0;
}