.dsContainer{
    width: 100%;
}

.tableContainer{
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-top: 13px;
}

.title-new{
    background-color: #2de62d;
    border-radius: 4px 4px 0 0 ;
    height: 35px;
    grid-template-columns: 1fr 1fr;
}

.title-process{
    background-color: transparent;
    height: 35px;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #2de62d;
    border-radius: 4px 4px 0 0;
}

.title-wait{
    background-color: #f1e100;
    border-radius: 4px 4px 0 0 ;
    color: black;
    height: 35px;
    grid-template-columns: 1fr 1fr;
}

.title-finish{
    background-color: transparent;
    height: 35px;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #000000;
    border-radius: 4px 4px 0 0;
}
.title-garantia{
    background-color: #ffa600;
    border-radius: 4px 4px 0 0 ;
    color: black;
    height: 35px;
    grid-template-columns: 1fr 1fr;
    
}

.text-table{
    height: 100%;
    align-items: center;
    position: relative;
    padding: 0 30px;
}

.inv{
    justify-content: end;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    text-align: center;
}

tr{
    height: 30px;
    border-top: 1px solid #BBBBBB;
}

th{
    background-color: #EAEAEA;
}


.visible {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
  
  .oculta {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    height: 0;
    overflow: hidden;
  }
