.btn-login{
    color: white;
    background-color: var(--main-color);
    width: 70%;
    height: 35px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.btn-arrow{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-create{
    background-color: #FFFBFB;
    border: 1px solid #00FFF0;
    border-radius: 5px;
    height: 25px;
    width: 120px;
    cursor: pointer;
}

.btn-create:hover{
    background-color: rgb(243, 241, 241);
}