.btn-login{
    color: white;
    background-color: var(--main-color);
    width: 70%;
    height: 35px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.btn-arrow{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-create{
    background-color: #FFFBFB;
    border: 1px solid #00FFF0;
    border-radius: 5px;
    height: 25px;
    width: 120px;
    cursor: pointer;
}

.btn-create:hover{
    background-color: rgb(243, 241, 241);
}

.btn-pes{
    width: 160px;
    height: 30px;
    border: 1px solid #CACACA;
    cursor: pointer;
}

.active{
    background-color: #FFFBFB;
    border-bottom: 1px solid #FFFBFB;
}

.disable{
    background-color: #DFDFDF;
}

.btn-upload{
    cursor: pointer;
    background-color: #0094FF;
    border: 2px solid #0094FF;
    width: 160px;
    height: 25px;
    border-radius: 5px;
    color: white;
    transition: 0.5s;
}

.btn-upload:hover{
    color: black;
    background-color: transparent;
    transition: 0.5s;
}

.btn-add{
    height: 30px;
    padding: 0 10px;
    width: 150px;
    background-color: #108afd;
    border: 1px solid #108afd;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.btn-add:hover{
    background-color: #44a5ff;
}

.btn-close{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #cfcfcf;
    font-size: 15px;
}

.btn-close:hover{
    color: red;
}